{% extends 'base.html' %}
{% block title %}{{ title }}{% endblock %}
{% block content %}

<div class="container">
    <h1>Stuff...</h1>
    <br/>
    <form action="/stuff" METHOD="POST">
        <input type="text" placeholder="Name" name="name">
        <input type="submit" value="Add Name" class="btn btn-secondary">
    </form>
    <br/>
    <table class="table table-hover table-bordered table-striped">
    {% for stuffs in stuff %}
        <tr>
            <td>
            {{ stuffs.name }}
            <a href="/update/{{stuffs.id}}" class="btn btn-outline-secondary btn-sm">Update</a>
            <a href="/delete/{{stuffs.id}}" class="btn btn-outline-secondary btn-sm">Delete</a>
            </td>
        </tr>
    {% endfor %}
</table>
</div>
{% endblock %}